<!DOCTYPE html> 
<html> 
	<head> 
		<title>Donate</title> 
		<meta charset="utf-8">  
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<link rel="preconnect" href="https://rsms.me/">
		<link rel="stylesheet" href="https://rsms.me/inter/inter.css"> 
		<script src="https://cdn.tailwindcss.com"></script>
	</head>
	<body>  
	<style> 
		@media screen and (max-width: 3000px) {
			body {	
				font-family: "Inter",sans-serif; 
				text-align:left;  
			
			} 
			@supports (font-variable-settings: normal) {
				body { font-family: InterVariable, sans-serif; } 
			}
		}
	</style>
		<nav>
			<div class="text-slate-900 text-lg font-light max-w-md">
				<ul class="p-6 flex justify gap-6"> 
					<li class="no-underline hover:underline cursor-pointer">
						<a href="/">Home</a></li>
					<li class="no-underline hover:underline cursor-pointer">
						<a href="/feedback">Feedback</a></li>
				</ul>
			</div> 
		</nav>
	<section class="first_section"> 
	 	<div class="header_title"> 
	 <h1 class="p-4 text-6xl font-medium tracking-tight">Where every child gains education.
	</h1>  				
		<p class="p-4 text-lg text-justify line-relaxed text-slate-900 whitespace-pre-wrap">Education as a primary source of our humankind many are not able to recevie it.
We donate and support every child to be in an educated environment.</p>

		</div>
		<div class="w-full p-6 grid grid-flow-col gap-7 grid-rows-1 grid-cols-2"> 
			<img class="transform translate-x-3 scale-10 -rotate-6 rounded-3xl"src="{{url_for ('static', filename='images/edubackground.jpg') }}" alt="edubackground1"></img>
			<img class="transform translate-y-2 rotate-6 rounded-3xl"src="{{ url_for('static', filename='images/edubackground2.jpg') }}" alt="edubackground2"></img>		
		</div>   
	</section> 
	<section class="second_section">
		<div class="mt-6 p-8 text-center box-content h-22 w-45 border-2 border-neutral-150">   
		 	<h4 class="text-4xl font-semibold">Donate here</h4> 
				<form class="mt-8"><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_NEYT8SVxflnRQR" async> </script> </form>	
		<div>
	</section>   
	<section class="third_section"> 
		<div> 
			<h1 class="p-5 text-4xl font-semibold">More about us..</h1> 
			<p class="p-4 text-lg text-slate-900 line-relaxed indent-6">As a platform we act as a bridge where one can donate as little as 
			   any amount for the 
			   future upbringing of every child who can't get the right education at the right time 
			   due to different living circumstances. For now, our operation revolve around in India
			   where our destination is to make India's literacy growth rate from 76(<a class="text-blue-950 after:content-['~^']" href="https://data.worldbank.org/indicator/SE.ADT.LITR.ZS?locations=IN">The World Bank</a>) to 90 in the coming years.
		 	<br>	
			   <button class="h-12 px-2 bg-black mt-5 rounded-md text-lg text-slate-200" 
				   type="submit"><a href="feedback.html">Give Feedback -></a></button>
		</div> 
	</section>
</body> 
</html>
